# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:

1. Python
2. Scala
3. R
4. Java

### Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Keras
3. Pandas
4. PyTorch

| Data Science Tools |
-----
| RStudio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Objectives:
- Python
- R
- SQL
- Java
- Julia

## Author
### Jasmine Anonuevo